body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#statCalculator {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1800px;
    margin: 0 auto;
    height: 100vh;
}

#party {
    height: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-right: auto;
}

#bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-right: auto;
}

#characters {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    max-width: 760px;
    width: 50%;
    flex: 1;
    justify-content: flex-start;
}

#ouroboros {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    padding-left: 10px;
    max-width: 650px;
    width: 40%;
    flex: 1;
    justify-content: flex-end;
}

#characterPortrait {
    position: relative;
    display: flex;
    justify-content: left;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon:hover {
    background-color: #cc7f19;
}

.icon img {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.portrait {
    display: flex;
    justify-content: left;
    max-height: 440px;
    height: 100%;
    width: auto;
}