body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: white;
    background-image: url('img/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    *::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff00; 
    }

    *::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 6px;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

#statCalculator {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#party {
    display: grid;
    grid-template-columns: [first] 54% [line2] 46% [end];
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#center {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-right: auto;
}

#bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-right: auto;
}

#characters {
    display: flex;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 760px;
    justify-content: flex-start;
    align-items: center;
}

#ouroboros {
    display: flex;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 650px;
    justify-self: end;
    align-items: center;
}

#characterPortrait {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    justify-content: flex-start;
    align-self: start;
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

#stat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#equipment {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    align-self: flex-end;
    justify-content: flex-end;
    margin-left: auto;
    height: 100%;
}

#gems {
    display: flex;
    flex-direction: column;
}

#accessories {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 10px;
}

#class {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#classInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
}

#characterLevel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 10px;
}

#classSkills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#masterSkills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#arts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#masterArts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 170px;
}

#artContainerLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#artContainerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#classArts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
}

#normalArts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    width: 170px;
}

#talentArt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon:hover {
    background-color: #cc7f19;
}

.icon img {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
}

.portrait img {
    width: auto;
    height: 100%;
}

.statIcon {
    height: 50px;
    width: auto;
}

.statIcon img {
    width: auto;
    height: 100%;
}

.gem {
    display: flex;
    align-items: center;
    justify-content: right;
    height: auto;
}

.gem img {
    width: auto;
    height: 100%;
    cursor: pointer;
}

.accessory {
    display: flex;
    align-items: center;
    justify-content: right;
    height: auto;
    cursor: pointer;
}

.accessory img {
    width: auto;
    height: 100%;
}

.classIcon {
    display: flex;
    align-items: baseline;
    justify-content: left;
    height: auto;
    width: 70px;
    cursor: pointer;
}

.classIcon img {
    width: 100%;
    height: auto;
}

.classMenu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.classMenuContent {
    background-color: #4c4c4c;
    margin: 5% auto;
    border: 10px solid #2c2c2c;
    width: 400px;
    height: 70%;
    animation: dropdown 0.4s;
    display: flex;
    flex-direction: column;
}

.class-list {
    display: grid;
    grid-template-columns: [first] auto [line2] auto [line3] auto [end];
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [last-line];
    gap: 10px;
    justify-content: space-around;
    overflow-y: auto;
}

.modal-icon {
    height: auto;
    width: 100px;
    cursor: pointer;
}

.modal-icon img {
    width: 100%;
    height: auto;
}

.classMenuHeader {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 170, 0);
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.heroMenu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.infoText {
    margin-top: 0%;
}

.skillSlot {
    cursor: pointer;
}

.artText {
    margin: 0%;
    padding-left: 10px;
    padding-right: 10px;
}

.artSlot {
    display: flex;
    align-items: baseline;
    justify-content: left;
    height: auto;
    width: 50px;
    cursor: pointer;
}

.artSlot img {
    width: 100%;
    height: auto;
}

.talentSlot {
    display: flex;
    align-items: baseline;
    justify-content: left;
    height: auto;
    width: 70px;
    cursor: pointer;
}

.talentSlot img {
    width: 100%;
    height: auto;
}

@keyframes dropdown {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}